<!DOCTYPE html>

<body>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyCfMCVUDdbD_8zFBkzlCFKZT2GnB3yJnFQ&language=ja"></script>

  <div class="main">
    <div class="left">
      <div class="window">
        <div class="search-w"></div>
          
        <div class="btn-w"></div>
      </div>

      <div class="bar">
        <div class="content">
          <% @posts.each do |post|%>
            <p><%= post.title%></p>
            <p><%= post.created_at%></p>
          <% end %>  
        </div>
      </div>
    </div>

    <div class="right">
      <div class="frame">
        <div id="map"></div>
      </div>
    </div>

      <style>
        #map { height: 100%; width: 100%}
      </style>

      <script>
      var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
      var Options = {
      zoom: 15,      //地図の縮尺値
      center: MyLatLng,    //地図の中心座標
      mapTypeId: 'roadmap'   //地図の種類
      };
      var map = new google.maps.Map(document.getElementById('map'), Options);
      </script>

    <div class="info">
      <div class="twitter">
        <%= link_to "https://twitter.com/jartic?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor", class: "btn" do %>
          <%= icon('fab', 'twitter', class: "btn_icon") %>
          <% end %>
      </div>
      <div class="doratora">
      </div>

    </div>

  </div>

  <div class="footer">
    <p>Copyright Implicit-route 2020.</p>
  </div>

</body>
</html>