<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>Implicit route</title>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyCfMCVUDdbD_8zFBkzlCFKZT2GnB3yJnFQ&language=ja"></script>

<style>
html { height: 100% }
body { height: 100% }
#map { height: 100%; width: 100%}
</style>
</head>


<body>

  <div class="top">

    <div class="header">
      <div class="title">暗黙のルート</div>
      <div class="login">ろぐいん</div>
    </div>
  </div>

  <div class="main">

    <div class="left">
      <div class="window">
      検索窓表示
        <div class="検索窓"></div>
        <div class="ボタン"></div>
      </div>

      <div class="bar">
      検索結果表示
        <div class="content">
        </div>
      </div>
    </div>

    <div class="right">
      <div class="frame">
        <div id="map"></div>
      </div>
    </div>

      <script>
      var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
      var Options = {
      zoom: 15,      //地図の縮尺値
      center: MyLatLng,    //地図の中心座標
      mapTypeId: 'roadmap'   //地図の種類
      };
      var map = new google.maps.Map(document.getElementById('map'), Options);
      </script>

  </div>
</div>
</body>
</html>