<!DOCTYPE html>

<body>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyCfMCVUDdbD_8zFBkzlCFKZT2GnB3yJnFQ&language=ja"></script>


  <div class="top">
    <div class="menu">
      <%= link_to "新規登録", new_user_path, class: "register"%>
      <%= link_to "LOGIN", new_post_path, class: "login"%>

    <div class="header">
      <div class="title"><p>暗 黙 の route</p></div>
      </div>
    </div>
  </div>

  <div class="main">

    <div class="left">
      <div class="window">
      検索窓表示
        <div class="検索窓"></div>
        <div class="ボタン"></div>
      </div>

      <div class="bar">
      検索結果表示
        <div class="content">
        </div>
      </div>
    </div>

    <div class="right">
      <div class="frame">
        <div id="map"></div>
      </div>
    </div>

      <style>
        #map { height: 100%; width: 100%}
      </style>

      <script>
      var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
      var Options = {
      zoom: 15,      //地図の縮尺値
      center: MyLatLng,    //地図の中心座標
      mapTypeId: 'roadmap'   //地図の種類
      };
      var map = new google.maps.Map(document.getElementById('map'), Options);
      </script>

    <div class="info">
      <div class="twitter">
      </div>
      <div class="doratora">
      </div>

    </div>

  </div>

  <div class="footer">
    <p>Copyright Implicit-route 2020.</p>
  </div>

</body>
</html>