@font-face {
  font-family: "cosmo";
  src: url('KSconstellation.ttf') format("truetype");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "tack";
  src: url('lanceatack.ttf') format("truetype");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "masasi";
  src: url('Masasi.ttf') format("truetype");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "takashi";
  src: url('yanasetakashi.ttf') format("truetype");
  font-weight: normal;
  font-size: normal;
}


