// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ーーーーーーーーー 新規投稿開始 ーーーーーーーーーー

.new-post {
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;

  .contents{
    background-color: #fff;
    height: calc(100% - 10%);
    width: calc(100% - 30%);
    overflow: scroll;
    margin: 0 auto;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    .form {
      width: 95%;
      height: 100%;
      padding: 30px;
      overflow: scroll;
      display: grid;

      h3 {
        display: block;
        text-align: center;
        font-size: 120px;
        font-family: "masasi";
      }

      // タイトル
      input {
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        color: black;
      }
      input::-webkit-input-placeholder {
        font-family: "masasi";
      }
      input:-ms-input-placeholder {
        font-family: "masasi";
      }
      input::-moz-placeholder {
        font-family: "masasi";
      }
      // タイトル

      // 内容
      textarea {
        padding: 10px;
      }
      textarea::-webkit-input-placeholder {
        font-family: "masasi";
      }
      textarea:-ms-input-placeholder {
        font-family: "masasi";
      }
      textarea::-moz-placeholder {
        font-family: "masasi";
      }
      // 内容

      .subbtn {
        padding: 15px 40px;
        font-size: 1.2em;
        background-color: #000;
        color: #fff;
        border-style: none;
        font-family: "takashi";
        border-radius: 50px;
      }

      .btn {
        width: 32%;
        font-size: 30px;
        font-family: "masasi";
        color: black;
        float: right;
        text-decoration: none;
        background-color: rgb(219, 219, 219);
        border-radius: 20px;
        padding: 10px;
        box-shadow: 4px 4px;
      }

      .btn:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

// ーーーーーーーーー 新規投稿終了 ーーーーーーーーーー

// ーーーーーーーーー 投稿詳細閲覧開始 ーーーーーーーーーー

.content-post {
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;

  .more{
    background-color: #fff;
    height: calc(100% - 10%);
    width: calc(100% - 30%);
    overflow: scroll;
    margin: 0 auto;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    .more-cont {
      width: 95%;
      height: 100%;
      padding: 30px;
      overflow: scroll;

      h3 {
        display: block;
        text-align: center;
        font-size: 50px;
      }
      input {
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        color: black;

      }
      textarea {
        padding: 10px;
      }
      .subbtn {
        padding: 15px 40px;
        font-size: 1.2em;
        background-color: #000;
        color: #fff;
        border-style: none;
        font-family: "takashi";
        border-radius: 50px;
      }

      .btn {
        width: 32%;
        font-size: 30px;
        font-family: "masasi";
        color: black;
        float: right;
        text-decoration: none;
        background-color: rgb(219, 219, 219);
        border-radius: 20px;
        padding: 10px;
        box-shadow: 4px 4px;
      }

      .btn:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

// ーーーーーーーーー 投稿詳細閲覧終了 ーーーーーーーーーー

// ーーーーーーーーー 投稿編集開始 ーーーーーーーーーー

.content-post {
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;

  .more{
    background-color: #fff;
    height: calc(100% - 10%);
    width: calc(100% - 30%);
    overflow: scroll;
    margin: 0 auto;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    h1 {
      font-family: "masasi";
      font-size: 100px;
      text-align: center;
      margin-top: 30px;
    }

    .more-cont {
      width: 95%;
      height: 100%;
      padding: 30px;
      overflow: scroll;

      .form__title {
        width: 95%;
        display: block;
        text-align: center;
        font-size: 50px;
      }
      input {
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        color: black;

      }
      textarea {
        padding: 10px;
      }
      .form__btn {
        padding: 15px 40px;
        font-size: 1.2em;
        background-color: #000;
        color: #fff;
        border-style: none;
        font-family: "takashi";
        border-radius: 50px;
        
      }

      .btn {
        width: 32%;
        font-size: 30px;
        font-family: "masasi";
        color: black;
        float: right;
        text-decoration: none;
        background-color: rgb(219, 219, 219);
        border-radius: 20px;
        padding: 10px;
        box-shadow: 4px 4px;
      }

      .btn:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

// ーーーーーーーーー 投稿編集終了 ーーーーーーーーーー