.sign_in {
  height: calc(100vh - 200px);
  width: 100vw;
  display: flex;

  .contents{
    background-color: #fff;
    height: calc(100% - 10%);
    width: calc(100% - 30%);
    overflow: scroll;
    margin: 0 auto;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    .form {
      width: 95%;
      height: 100%;
      padding: 30px;
      overflow: scroll;
      display: grid;

      h3 {
        display: block;
        text-align: center;
        font-size: 120px;
        font-family: "masasi";
      }
      .field {
        height: 50px;
        margin: 10px 0;

      }
      .action {

      }
    }
  }
}