// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("index.jpg");
  height: 100vh;
  width: 100vw;

// ーーーーーーーーー トップページ開始 ーーーーーーーーーー

  .top {
    height: 200px;
    width: 100vw;
    position: relative;

    .menu {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 50px;

      .menu-left {
        height: 100%;
        width: 12.5%;
        margin-left: 20px;
        padding-top: 10px;


        .register {
          color: black;
          text-decoration: none;
          font-size: 50px;
          font-family: "masasi";
          float: right;
          border: 7px solid #ccc;
          background-color: rgba($color: rgb(255, 255, 255), $alpha: 1);
          border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
          box-shadow: 7px 7px;
        }

        .register:active {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        }
      }

      .menu-right {
        height: 100%;
        width: 12.5%;
        margin-right: 30px;
        padding-top: 10px;

        .login {
          color: black;
          text-align: center;
          text-decoration: none;
          font-size: 50px;
          font-family: "masasi";
          float: right;
          border: 7px solid #ccc;
          background-color: rgba($color: rgb(255, 255, 255), $alpha: 1);
          border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
          box-shadow: 7px 7px;
        }

        .login:active {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        }
      }
    }

    .header {
      height: 150px;
      width: 80%;
      margin: 20px 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 10px; 
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;

      .title {
        text-align: center;
        font-size: 100px;
        padding: 0 100px;
        font-family: "masasi";

        p {
          display:  block;                /* ブロック要素にする */
          position:  relative;            /* 位置指定 */
          animation: anime1 3s ease;      /* アニメーション指定 */  
          border: 7px solid #ccc;
          background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
          // background-color: white;
          border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
        }
        
        @keyframes anime1 {
          0% {
            opacity:  0;                /* 透明度指定 */
            top: 300px;                  /* 位置指定 */
          }
          100% {
            opacity:  1;                /* 透明度指定 */
            top: 0;                     /* 位置指定 */
          }
        }
      }
    }
  }

  .main {
    height: calc(100vh - 230px);
    width: 100%;
    display: flex;

    .left {
      height: 100%;
      width: calc(100% - 78%);

      .window {
        height: calc(100% - 90%);
        width: calc(100% - 13%);
        margin: auto;
        border: 7px solid #ccc;
        background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
        border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
        display: flex;
        box-shadow: 0 0 9px rgb(172, 172, 172);

        .search-w {
          height: 100%;
          width: 100%;
          display: flex;

          .search-form {
            height: 75%;
            width: 100%;
            margin: auto 0;
            padding: 10px 0 0 10px;
          }

          .search-input {
            height: 75%;
            width: 73%;
            color: black;
            font-size: 20px;
            border-radius: 10px;
            padding: 0 10px;
            margin-right: 5px;
          }
          .search-input::-webkit-input-placeholder {
            font-family: "masasi";
          }
          .search-input:-ms-input-placeholder {
            font-family: "masasi";
          }
          .search-input::-moz-placeholder {
            font-family: "masasi";
          }
        }
      }

      .bar {
        height: calc(100% - 19%);
        width: calc(100% - 13%);
        margin: 10px auto;
        border: 7px solid #ccc;
        background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
        border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
        display: flex;
        box-shadow: 0 0 9px rgb(172, 172, 172);

        .content {
          height: 95%;
          width: 93%;
          background-color: white;
          border-radius: 10px;
          margin: auto;
          box-shadow: 0 0 9px rgb(172, 172, 172);

          .contents {
            height: 95%;
            width: 95%;
            margin: 10px auto;
            overflow: scroll;

            a {
              text-decoration: none;
            }

            .routelist {
              height: auto;
              width: 95%;
              border: groove;
              margin-bottom: 10px;
              padding: 5px;
            }
          }
        }
      }
    }

    .right {
      height: calc(100% - 8%);
      width: calc(100% - 40%);
      background-color: white;
      margin: auto;
      margin-top: 15px;
      border: 7px solid #ccc;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
      border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
      box-shadow: 0 0 8px gray;

      .frame {
        height: 100%;
        width: 100%;
        display: flex;

        #map {
          display: block;
          height: calc(100% - 5%);
          width: calc(100% - 5%);
          margin: auto;
          border-radius: 10px; 
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
        }
      }
    }


    .info {
      height: calc(100% - 17%);
      width: calc(100% - 92%);
      margin: 50px auto;
      margin-left: 10px;
      border: 7px solid #ccc;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
      border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
      box-shadow: 2px 2px 4px gray;

      p {
        text-align: center;
        color: black;
        font-size: 25px;
        font-family: "masasi";
        padding: 20px 5px 20px;
      }

      .twitter {
        height: 20%;
        width: 100%;
        margin: 0 auto;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            text-decoration: none;
          }
        }
      }
      .doratora {
        height: 20%;
        width: 100%;
        margin: 0 auto;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            text-decoration: none;
          }
        }
      }
      .travel {
        height: 20%;
        width: 100%;
        margin: 0 auto;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            text-decoration: none;
          }
        }
      }
      .clash {
        height: 20%;
        width: 100%;
        padding: 30px 0 0 0;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            padding-right: 50px;
            text-decoration: none;
          }
        }
      }
    }
  }


  // ーーーーーーーーー フッター開始 ーーーーーーーーーー

  .footer {
    bottom: 0;
    height: 20px;
    width: 100vw;
    display: flex;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,1) 100%);
    
    p {
      width: 100%;
      text-align: center;
    }
  }

}

// ーーーーーーーーー フッター終了 ーーーーーーーーーー

// ーーーーーーーーー トップページ終了 ーーーーーーーーーー
