// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("index.jpg");
  height: 100vh;
  width: 100vw;

.map__window{
  width: 80px;
  text-align: center;
}

// ーーーーーーーーー トップページ開始 ーーーーーーーーーー

  .top {
    height: 200px;
    width: 100vw;
    position: relative;
    padding-top: 10px;

    .menu {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 50px;

      .menu-left {
        height: 100%;
        width: 12.5%;
        margin-left: 20px;
        padding-top: 10px;

        .register {
          color: black;
          text-decoration: none;
          font-size: 50px;
          font-family: "masasi";
          float: right;
          border: 7px solid #ccc;
          background-color: rgba($color: rgb(255, 255, 255), $alpha: 1);
          border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
          box-shadow: 7px 7px;
        }

        .register:active {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        }
      }

      .menu-right {
        height: 100%;
        width: 12.5%;
        margin-right: 30px;
        padding-top: 10px;

        .login {
          color: black;
          text-align: center;
          text-decoration: none;
          font-size: 50px;
          font-family: "masasi";
          float: right;
          border: 7px solid #ccc;
          background-color: rgba($color: rgb(255, 255, 255), $alpha: 1);
          border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
          box-shadow: 7px 7px;
        }

        .login:active {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        }
      }
    }

    .header {
      height: 150px;
      width: 80%;
      margin: 20px 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 10px; 
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;

      .title {
        text-align: center;
        font-size: 100px;
        padding: 0 100px;
        font-family: "masasi";

        p {
          display:  block;                /* ブロック要素にする */
          position:  relative;            /* 位置指定 */
          animation: anime1 3s ease;      /* アニメーション指定 */  
          border: 7px solid #ccc;
          background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
          border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
        }
        
        @keyframes anime1 {
          0% {
            opacity:  0;                /* 透明度指定 */
            top: 300px;                  /* 位置指定 */
          }
          100% {
            opacity:  1;                /* 透明度指定 */
            top: 0;                     /* 位置指定 */
          }
        }
      }
    }
  }

  .main {
    height: calc(100vh - 250px);
    width: 100%;
    display: flex;

    .left {
      height: 100%;
      width: calc(100% - 78%);

      .window {
        height: calc(100% - 90%);
        width: calc(100% - 13%);
        margin: auto;
        border: 7px solid #ccc;
        background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
        border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
        display: flex;
        box-shadow: 0 0 9px rgb(172, 172, 172);

        .post_search {
          width: 100%;
          height: 100%;

          .search-w {
            height: 100%;
            width: 105%;
            display: flex;

            .search-input {
              height: 70%;
              width: 70%;
              color: black;
              font-size: 20px;
              margin: 12px 0 11px 11px;
              border-radius: 10px;
            }
            .search-input::-webkit-input-placeholder {
              font-family: "masasi";
            }
            .search-input::-ms-input-placeholder {
              font-family: "masasi";
            }
            .search-input::-moz-placeholder {
              font-family: "masasi";
            }

            .input_btn {
              width: 22%;
              height: 100%;
              font-size: 20px;
              border-style: none;
              cursor: pointer;
              display: block;
              background: url(radar.jpg) no-repeat;
              background-size: 70%;
              background-position: center;
              transition: all 1s ease;
              -webkit-transition: all 1s ease;
              transform-origin: 50% 50%;         // 要素の中央を中心とする
              outline:0;
              // filter: drop-shadow(0 0 5px #000);
            }
    
            .input_btn:hover {
              transform: rotate(400deg);
              -webkit-transform: rotate(400deg);
            }
            
          }
        }
      }


      .bar {
        height: calc(100% - 19%);
        width: calc(100% - 13%);
        margin: 10px auto;
        border: 7px solid #ccc;
        background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
        border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
        display: flex;
        box-shadow: 0 0 9px rgb(172, 172, 172);

        .content {
          height: 95%;
          width: 93%;
          background-color: white;
          border-radius: 10px;
          margin: auto;
          box-shadow: 0 0 9px rgb(172, 172, 172);

          .contents {
            height: 95%;
            width: 95%;
            margin: 10px auto;
            overflow: scroll;

            a {
              text-decoration: none;
            }

            .lists {
              width: 90%;
              height: 100%;
              padding: 10px;

              .routelist {
                height: auto;
                width: 98%;
                border: groove;
                margin-bottom: 10px;
                padding: 5px;
                overflow: scroll;
                position: relative;
                background: #dfefff;
                box-shadow: 0px 0px 0px 5px #dfefff;
                border: dashed 2px white;
                color: #454545;
                margin-bottom: 20px;
              }

              .routelist:after {
                position: absolute;
                content: '';
                right: -2px;
                top: -2px;
                border-width: 0 30px 30px 0;
                border-style: solid;
                border-color: #fff #fff #a8d4ff;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
              }

            }
          }
        }
      }
    }

    .right {
      height: calc(100% - 18%);
      width: calc(100% - 40%);
      background-color: white;
      margin: auto;
      margin-top: 60px;
      border: 7px solid #ccc;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
      border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
      box-shadow: 0 0 8px gray;

      .frame {
        height: 100%;
        width: 100%;
        position: relative;

        #map {
          margin: 18px 23px;
          height: calc(100% - 5%);
          width: calc(100% - 5%);
          border-radius: 10px; 
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          position: absolute; 
        }

        .search-w {
          bottom: 65%;
          padding-top: 80px;
          padding-left: 60px;
          position: absolute;

          input {
            display: block;
            height: 40px;
            width: 240px;
            background-color: white;
            position: absolute;
            box-shadow: 1px 1px 4px rgb(155, 155, 155);
            border-radius: 5px;
          }
          input::placeholder {
            font-family: "masasi";
            font-size: 20px;
            color: grey;
          }

          button {
            height: 41px;
            width: 40px;
            margin-left: 252px;
            margin-bottom: 8px;
            font-size: 20px;
            display: inline-block;
            text-decoration: none;
            color: rgba(136, 136, 136, 0.43);/*アイコン色*/
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            font-weight: bold;
            background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
            border-bottom: solid 2px #b5b5b5;
            outline:0;
            cursor: pointer;
          }
          button i {
            line-height: 41px;
          }
          button:active {
            /*押したとき*/
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
            border-bottom: none;
          }

          span {
            width: 200px;
            padding: 2px 5px 0;
            background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.8);
          }
        }
      }
    }

    .info {
      height: calc(100% - 17%);
      width: calc(100% - 92%);
      margin: 50px auto;
      margin-left: 10px;
      border: 7px solid #ccc;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
      border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
      box-shadow: 2px 2px 4px gray;

      p {
        text-align: center;
        color: black;
        font-size: 25px;
        font-family: "masasi";
        padding: 20px 5px 20px;
      }

      .twitter {
        height: 20%;
        width: 100%;
        margin: 0 auto;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            text-decoration: none;
            filter: drop-shadow(5px 5px 5px rgba(63, 63, 63, 0.6));
          }
        }
      }
      .doratora {
        height: 20%;
        width: 100%;
        margin: 0 auto;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            text-decoration: none;
            filter: drop-shadow(5px 5px 5px rgba(63, 63, 63, 0.6));
          }
        }
      }
      .travel {
        height: 20%;
        width: 100%;
        margin: 0 auto;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            text-decoration: none;
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
          }
        }
      }
      .clash {
        height: 20%;
        width: 100%;
        padding: 30px 0 0 0;

        a {
          text-align: center;
          height: 100%;
          width: 100%;
          i {
            font-size: 100px;
            height: 100%;
            width:100%;
            padding-right: 50px;
            text-decoration: none;
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
          }
        }
      }
    }
  }


  // ーーーーーーーーー フッター開始 ーーーーーーーーーー

  .footer {
    bottom: 0;
    height: 20px;
    width: 100vw;
    display: flex;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,1) 100%);
    
    p {
      width: 100%;
      text-align: center;
    }
  }

}

// ーーーーーーーーー フッター終了 ーーーーーーーーーー

// ーーーーーーーーー トップページ終了 ーーーーーーーーーー
